#comments-widget {
}

#comments-widget .hidden {
    display: none;
}

#comments-widget .invisible {
    visibility: hidden;
}

#comments-widget ul.thread,
#comments-widget ul.thread > li {
    list-style  : none;
    font-family : "Helvetica Neue", Helvetica,Arial, sans-serif;
    line-height : 18px;
    font-size   : 13px;
    font-weight : normal;
}

#comments-widget ul.thread li div.comment a.reply-link {
    color: #0069D6;
    text-decoration:none;
    border-bottom: #0069D6 1px dotted;
}
#comments-widget ul.thread li div.comment time {
    color: #BFBFBF;
}

#comments-widget form textarea {
    font: 14px Arial, Tahoma, sans-serif;
    color: #444;
    padding: 9px 13px;
    border: 1px solid #D2D9DC;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    outline: none;
    margin: 10px 0;
}
#comments-widget form textarea:focus {
    border-color: #B7D4EA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}

#comments-widget ul,
#comments-widget li>form {
    padding-left: 25px;
}

div.new {
    background-color: #f7f7f7;
}
div.active {
    border: #ddd 1px solid;
}

/**
 * New comments panel
 */
#comments-widget {
}

#comments-panel {
    position: fixed;
    right: 0;
    top: 43%;
    width: 28px;
    background: #999;
    border: 0;
    padding: 0 1px;
    opacity: 0.5;
}

#comments-widget #comments-panel:hover {
    opacity: 1;
}

#comments-panel .btn-refresh {
    background  : url(/static/django_comments_threaded/img/refresh.gif) 0 0 no-repeat;
    text-indent : -10000px;
    overflow    : hidden;
    width       : 28px;
    height      : 28px;
    display     : block;
}

#comments-panel.in-progress .btn-refresh {
    background: url(/static/django_comments_threaded/img/refresh-loading.gif) 0 0 no-repeat;
}

#comments-panel .btn-refresh:hover {
    background-position: 0px -29px;
}
#comments-panel.in-progress .btn-refresh:hover {
    background-position: 0 0;
}

#comments-panel .new-messages {
    text-align: center;
}

#comments-panel .new-messages a.count {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    display: block;
}

#comments-panel .new-messages a.count:hover {
    color: #ff0;
}

#comments-panel .divider {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #5C5C5C;
    height: 0;
    margin-top: 1px;
    width: 28px;
}
