{% load i18n %}
<!-- Comment form -->
<div id="form-placeholder">
  {% if request.user.is_authenticated %}
    <form method="post" action="{{ action }}">
        {% csrf_token %}
        <div>
            {% for f in form.hidden_fields %}{{ f }}{% endfor %}
            {{ form.message }}
        </div>
        <div class="buttons">
            <button class="preview" type="submit" name="_preview">{% trans "Preview" %}</button>
            <button class="send" type="submit" name="_submit">{% trans "Create" %}</button>
            <button type="button" name="_cancel" class="js-only cancel hidden">{% trans "Cancel" %}</button>
        </div>
    </form>
  {% else %}
    <div>{% trans "Only registered users can write comments" %}</div>
  {% endif %}
</div>