{% extends 'posts/base.html' %}
{% load i18n %}
{% load comments_threaded_tags %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock css %}

{% block posts_title %}{% endblock posts_title %}
{% block posts_content %}
  <div ng-app="django-comments-threaded">
    <div class="container" >
      <h1>{{ object }}</h1>
        {% get_comment_form object as create_form %}

        {# comment thread recursive template #}
        <script type="text/ng-template" id="comment_item.html">
          <div class="comment b-comment__item" id="comment-{$ comment.id $}">
            <a name="comment-{$ comment.id $}"></a>
            <div class="b-comment__head">
              <a href="#" class="b-comment__user">
                <span>{$ comment.user_name $}</span>
                <img ng-src="http://dev.evuez.net/dev/identicons/?s={$ comment.user_name $}" width="48" height="48" class="b-comment__avatar">
              </a>
              <a class="b-comment__datetime" href="#comment-{$ comment.id $}">
                <time class="timeago" datetime="{$ comment.date_created $}" title="{$ comment.date_created | date $}">{$ comment.date_created | date $}</time>
              </a>
              <span ng-show="comment.parent">&uarr;</span>
              <div class="b-comment__rating rating b-comment__rating ">
                <div class="b-comment__rating__count rating-count">{$ comment.rating || "0" $}</div>
              </div>
            </div>
            <div class="b-comment__body" ng-bind-html="comment.message | nl2br"></div>
          </div>
          <div class="b-comment__foot">
            <a href="#" ng-click="toggleReplyForm(comment)">{% trans 'reply' %}</a>
            <a href="#" ng-click="delete(comment)" ng-show="0">{% trans 'delete' %}</a>
          </div>

          <form name="replyForm" ng-submit="reply(comment, newComment)" ng-if="isReplying(comment)">
            {% for f in create_form.hidden_fields %}{{ f }}{% endfor %}
            {% for f in create_form.visible_fields %}
              <div class="form-group">
                {{ f }}
              </div>
            {% endfor %}
            <button ng-disabled="isSubmitting || (createForm.$valid && createForm.$dirty)" type="submit" class="btn btn-primary">{% trans 'create comment' %}</button>
          </form>

          <p ng-if="isShowMore(comment)">
            <a ng-href="#" ng-click="toggleThread(comment)">More {$ comment | threadSize $}</a>
          </p>
          <ul ng-class="b-comment__thread" ng-if="isExpanded(comment)" class="list-unstyled b-comment__replies">
            <li ng-repeat="comment in comment.replies" ng-include="'comment_item.html'"></li>
          </ul>
        </script>

        {# Comment threads controller #}
        <div ng-controller="CommentTreeCtrl" ng-init="maxLevel=5">
          <ul class="list-unstyled b-comment__tree">
            <li ng-repeat="comment in tree" ng-include="'comment_item.html'"></li>
          </ul>

          {# Form #}
          <form ng-hide="replyingTo" ng-controller="CommentCreateCtrl" name="createForm" ng-submit="create()">
            {% for f in create_form.hidden_fields %}{{ f }}{% endfor %}
            {% for f in create_form.visible_fields %}
              <div class="form-group">
                {{ f }}
              </div>
            {% endfor %}
            <button ng-disabled="isSubmitting || (createForm.$valid && createForm.$dirty)" type="submit" class="btn btn-primary">{% trans 'create comment' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock posts_content %}

{% block js %}
  {% get_comment_api_urls object as api_urls %}
  <script>window.ctf = {
    create: "{{ api_urls.list_create }}",
    tree: "{{ api_urls.tree }}",
    csrf: "{{ csrf_token }}",
    maxLevel: 50
  }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
  <script src="{% static 'posts/js/posts.js' %}"></script>
{% endblock js %}
